body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #11a89c;
    color: white;
    padding: 0; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    max-width: 1200px;
    width: 100%;
    justify-content: space-around;
}

.opcion{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 20px;
}

.opcion:hover {
    color: #a62e10;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    flex: 1; 
    padding: 40px 20px;
    justify-content: center; 
    align-items: flex-start; 
}

.content-1{
    background-color: white;
    padding: 40px 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 900px;
}

.Nombre-Doctor{
    color: #d802fe
}

.btn-Agendar{
    background-color: #11a89c; 
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
}

.btn-Agendar:hover {
    background-color: #a62e10;
}

.content-2{ 
    background-color: white;
    padding: 10px 90px;
    border-radius: 16px; 
    text-align: center;
    flex: 1 1 300px;
    max-width: 350px;
    min-height: 180px; 
}

.content-3{ 
    background-color: white;
    padding: 10px 90px;
    border-radius: 16px; 
    text-align: center;
    flex: 1 1 300px;
    max-width: 350px;
    min-height: 180px; 
}

.content-4{ 
    background-color: white;
    padding: 10px 90px;
    border-radius: 16px; 
    text-align: center;
    flex: 1 1 300px;
    max-width: 350px;
    min-height: 180px; 
}

.Fecha{
    color: #ea127b;
}
